{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo_transparent.ico' %}"/>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <title>Ramble - Write, Read, Curate</title>

     <script src='https://cloud.tinymce.com/stable/tinymce.min.js'></script>
     <script>
        tinymce.init({
            selector: '#new_ramble_post'
        });
    </script>

    <script>
    function delete_post(post_id)
    {
        if (!confirm("Are you sure you want to delete this post?")){
            return;
        }

        var deleted_post_div = document.getElementById("post_"+post_id);
        deleted_post_div.style.opacity=0.5;
        deleted_post_div.style.height=deleted_post_div.clientHeight+'px';
        data = {
            post_id: post_id,
        }
        var ajax = new XMLHttpRequest()
        ajax.open("POST", "deletepost")
        ajax.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
        ajax.onreadystatechange = function(response)
        {
            console.log(response, this.status, this.readyState)

            if (this.readyState == 4) {
                deleted_post_div.style.opacity=0;
                setTimeout(function(){
                    deleted_post_div.style.height=0;
                }, 1000)
            }
        }

        var formData = new FormData()
        for(var i in data)
            formData.append(i, data[i]);

        ajax.send(formData)

    }
    </script>
</head>
<body style="margin:0">
<div class="header">
    <table>
        <tr>
            <td>
                <a href="{% url 'index' %}">
                        <img src="{% static 'images/ramble2_transparent.png' %}" width=300px"
                             style="margin-right:5px;margin-top:5px;"/>
                        <!--<img src="{% static 'images/logo_transparent.png' %}" width="44" height="44"
                             style="margin-right:5px;margin-top:5px;"/>
                        <div style="font-size:55;font-weight:bold;display:inline-block;"> Ramble </div> -->
                </a>
                <!--<p style="margin-left:60px"> Read, Write, Curate</p>-->
            </td>
            <td style="text-align:right">
                {% if user.username %}
                    <div style="text-align:right; font-size:small">
                        <p>
                            Hello <a href="../u/{{ user.id }}"> {{ user.first_name }}! </a>
                            &nbsp; &nbsp;
                            <a href="{% url 'logout' %}"><button style="font-size:small">Logout</button></a>
                         </p>
                    </div>
                {% else %}
                    <a href="{% url 'social:begin' 'twitter' %}">
                        <Button style="padding:10px;font-size:20px">
                            <img src="{% static 'images/twitter_white.png' %}" width="18px" height="18px">
                            &nbsp Login with Twitter
                        </Button>
                    </a>
                {% endif %}
            </td>
        </tr>
    </table>
</div>
<div style="margin:50px">
{% block content %}
{% endblock %}
</div>
</body>
</html>