{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <title>Ramble - Write, Read, Curate</title>

    <script>
    function delete_post(post_id)
    {
        if (!confirm("Are you sure you want to delete this post?")){
            return;
        }

        var deleted_post_div = document.getElementById("post_"+post_id);
        deleted_post_div.style.opacity=0.5;
        deleted_post_div.style.height=deleted_post_div.clientHeight+'px';
        data = {
            post_id: post_id,
        }
        var ajax = new XMLHttpRequest()
        ajax.open("POST", "deletepost")
        ajax.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
        ajax.onreadystatechange = function(response)
        {
            console.log(response, this.status, this.readyState)

            if (this.readyState == 4) {
                deleted_post_div.style.opacity=0;
                setTimeout(function(){
                    deleted_post_div.style.height=0;
                }, 1000)
            }
        }

        var formData = new FormData()
        for(var i in data)
            formData.append(i, data[i]);

        ajax.send(formData)

    }
    </script>
</head>
<body style="margin:0">
<div class="header">
    <table>
        <tr>
            <td>
                <a href="{% url 'index' %}"> <h1>Ramble</h1> </a>
                <p> Read, Write, Curate</p>
            </td>
            <td style="text-align:right">
                {% if user.username %}
                    <div style="text-align:right; font-size:small">
                        <p>
                            Hello <a href="../u/{{ user.id }}"> {{ user.username }}! </a>
                            <a href="{% url 'logout' %}"><button style="font-size:small">Logout</button></a>
                         </p>
                    </div>
                {% endif %}
            </td>
        </tr>
    </table>
</div>
<div style="margin:50px">
{% block content %}
{% endblock %}
</div>
</body>
</html>