{% load static %}

<div style='padding:20px'>
    	<img src="{% static 'images/follow.png' %}" width="20px"/> <input type=text id="new_collection" placeholder="Add new collection" onkeypress="keypressed_collect(event)"> 
</div>
<div id='all_collections'>
	{% for collection  in collections %}
	<div>
		<button id="collection_{{collection.pk}}" onclick='post_to_collection("{{collection.pk}}", "{{post_id}}")'>
			{% if relevant_collections and collection.pk in relevant_collections %}
                <img src="{% static 'images/collected.png' %}" width="12px" height="12px"> {{ collection.collection_name }}
            {% else %}
                <img src="{% static 'images/collect.png' %}" width="20px"/> {{ collection.collection_name }}
            {% endif %}
   		</button>
   	</div>
	{% endfor %}
</div>
