{% extends './base.html' %}
{% block content %}

<script>
    function submit_ramble()
    {
        data = {
            new_ramble_title: new_ramble_title.value,
            new_ramble_post: new_ramble_post.value
        }

            var ajax = new XMLHttpRequest()
            ajax.open("POST", "ramblepost")
            ajax.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
            ajax.onreadystatechange = function(response)
            {
                console.log(response, this.status, this.readyState)

                if (this.readyState == 4) {
                    window.location = "post/" + this.responseText
                }
            }

            var formData = new FormData()
            for(var i in data)
                formData.append(i, data[i]);

            ajax.send(formData)

    }
</script>


    {% csrf_token %}
    <div style="text-align:right;padding:0 10%">
        <input type="text" id="new_ramble_title" name="new_ramble_title" maxlength="100"
        style="width:100%; margin-bottom:10px; font-size:24px"/>
        <textarea id="new_ramble_post" name="new_ramble_post"
              style="width:100%;height:40vh;margin-bottom:10px"
        ></textarea>
        <button onclick="submit_ramble()"> Ramble </button>
    </div>


{% for post in posts %}
    <div id="post_{{post.pk}}" style="transition:all 1s ease">
        <p class="post-title">
            <a href="../post/{{ post.pk }}">{{ post.post_title }}</a>
        </p>
        <p class="post-username">
            by <a href="../u/{{ post.user_id.id }}">{{ post.user_id.first_name }} {{ post.user_id.last_name }}</a>
        </p>
        <p class="post-timestamp">
            <a href="../post/{{ post.pk }}"> published: {{ post.post_timestamp }} </a>
        </p>
        {% if post.user_id.id == user.id %}
            <button onclick="delete_post({{ post.pk }})"> Delete Post </button>
        {% endif %}
        <p class="post-format">{{ post.post_text|linebreaksbr }}</p>
    </div>
{% endfor %}


{% endblock %}
