{% extends './base.html' %}
{% block content %}
{% load static %}

<script>
    function submit_ramble()
    {
        data = {
            new_ramble_title: new_ramble_title.value,
            new_ramble_post: tinyMCE.activeEditor.getContent()
        }

            var ajax = new XMLHttpRequest()
            ajax.open("POST", "ramblepost")
            ajax.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
            ajax.onreadystatechange = function(response)
            {
                console.log(response, this.status, this.readyState)

                if (this.readyState == 4) {
                    window.location = "post/" + this.responseText
                }
            }

            var formData = new FormData()
            for(var i in data)
                formData.append(i, data[i]);

            ajax.send(formData)

    }
</script>

<script src='https://cloud.tinymce.com/stable/tinymce.min.js'></script>
<script>
    tinymce.init({
        selector: '#new_ramble_post',
        plugins: "link",
    });
</script>


    {% csrf_token %}
    <div style="text-align:right;padding:0 10%">
        <input type="text" id="new_ramble_title" name="new_ramble_title" maxlength="100" placeholder="Title"
        style="width:100%; margin-bottom:10px; font-size:24px;
        border-width: thin;box-shadow: inset 0 0 1px 1px #888;
        padding: 5px 10px 5px 10px; "/>
        <textarea id="new_ramble_post" name="new_ramble_post" maxlength="10000" placeholder="Tell your story..."
              style="width:100%;height:40vh;margin-bottom:10px"
        ></textarea>
        <button onclick="submit_ramble()"> Ramble </button>
    </div>


{% for post, num_likes in posts_and_likes %}
    {% include "./display_post.html" %}
{% endfor %}


{% endblock %}
