{% load static %}
<html>
	<head>
		<link rel="shortcut icon" type="image/png" href="{% static 'images/fleuron_transparent_icon.ico' %}"/>
		<title>	Ramble | Write, Read, Curate </title>

		<script type="text/javascript">
			function keypressed(event) {
				console.log(event)
				if (event.keyCode == 13) {
					var entered_email = document.getElementById("email_sub");
					 data = {
            			email: entered_email.value,
        			}
        		var ajax = new XMLHttpRequest()
        		ajax.open("POST", "{% url 'subscribe_email' %}")
        		ajax.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
        		ajax.onreadystatechange = function(response)
		        {
		            console.log(response, this.status, this.readyState)

		            if (this.readyState == 4) {
		                email_div.innerHTML = "Thank you! We will keep you updated on Ramble's progress!"
		            }
		        }
        		var formData = new FormData()
        		for(var i in data)
            		formData.append(i, data[i]);
        		ajax.send(formData)
				}
			}

			function submit_email() 
			{
				var entered_email = document.getElementById("email_sub");
				data = {
            			email: entered_email.value,
        			}
        		var ajax = new XMLHttpRequest()
        		ajax.open("POST", "{% url 'subscribe_email' %}")
        		ajax.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
        		ajax.onreadystatechange = function(response)
		        {
		            console.log(response, this.status, this.readyState)

		            if (this.readyState == 4) {
		                email_div.innerHTML = "<p style='font-weight:bold'>Thank you! We will keep you updated on Ramble's progress!</p>"
		            }
		        }
        		var formData = new FormData()
        		for(var i in data)
            		formData.append(i, data[i]);
        		ajax.send(formData)
			}
		</script>
		<style type="text/css" media="screen">

			header, .header {
			padding: 2px 20px 2px;
			background: #00b7b2;
			color: #ff5131;
			font: 20px Arial, sans-serif;
			box-shadow: 0 0 9px #ffffff;
			}

			header a, .header a {
				color: #ff5131;
			}
		/* from here: https://www.w3schools.com/howto/howto_css_split_screen.asp */

			/* Split the screen in half */
			.split {
			  height: 100%;
			  width: 50%;
			  position: fixed;
			  z-index: 1;
			  top: 105px;
			  overflow-x: hidden;
			  padding-top: 20px;
			}

			/* Control the left side */
			.left {
			  left: 0;
			  background-color: #fcfcfc;
			}

			/* Control the right side */
			.right {
			  right: 0;
			  background-color: #fcfcfc;
			}

			/* If you want the content centered horizontally and vertically */
			.centered {
			  position: absolute;
			  top: 50%;
			  left: 50%;
			  transform: translate(-50%, -50%);
			  text-align: center;
			}

			/* Style the image inside the centered container, if needed */
			.centered img {
			  width: 150px;
			  border-radius: 50%;
			}


		</style>
	</head>
	<body style='margin:0'>
		<div class="header">
		    <table>
		        <tr>
		            <td>
		                <a href="{% url 'landing_page' %}">
		                        <img src="{% static 'images/fleuron_header_reverse_transparent.png' %}" width=300px" style="margin-right:5px;margin-top:5px;background-color:#fcfcfc"/>
		                        <!--<img src="{% static 'images/logo_transparent.png' %}" width="44" height="44"
		                             style="margin-right:5px;margin-top:5px;"/>
		                        <div style="font-size:55;font-weight:bold;display:inline-block;"> Ramble </div> -->
		                </a>
		                <!--<p style="margin-left:60px"> Read, Write, Curate</p>-->
		            </td>
		            <td style="text-align:right">
		                
		            </td>
		        </tr>
		    </table>
		</div>

		<div class="split left">
	  		<div>
				<img src="{% static 'images/person_wordcloud1.png' %}" width="100%">
	  		</div>
		</div>

		<div class="split right" style='text-align: center; font-family: Georgia'>
				<br><br><br>
			  <div style='line-height: 20px;'>
				    <h2> 
				    	Where Stories Matter.
					</h2>
				    <p style="padding:10px; font-weight: 500; font-size: 18px; color: gray">
				    	Ramble is a social network for writers of short fiction, and their readers. 
				    </p>
				    <p style="padding:10px; font-weight: 500; font-size: 18px;">
				    	On Ramble, you can focus on telling your stories. <br>
				    	<span style='text-align: left'> We take care of everything else. <br> Ramble helps you with finding an audience, connecting with other writers, and securely storing all your drafts in one neat, accessible interface. </span>
					</p>
					<br>
				    <div id='email_div' style='font-weight: 500; font-size: 18px'>
						<p style='font-weight: 600'> Register to be notified of Ramble's launch.  </p>
						<input id='email_sub' type='email' placeholder="Your email"  style="background-image: url({% static 'images/email.png' %}); background-color:rgba(252,252,252,0.75); padding-left:0px;background-size:contain; background-repeat: no-repeat; background-position: right; font-size:inherit; text-align: left; color:black;padding:5px; vertical-align: bottom; font-family: Georgia; width:45%"/>
						<button onclick="submit_email()" style="padding-left:12px; padding-right: 12px; padding-top: 8px; padding-bottom: 8px; background: #00b7b2; color: #fcfcfc; font-weight:600; text-align: left"> Join our mailing list </button>
					</div>
			  </div>
		</div>
	</body>
	<!--
	<body style="background-color: 00b7b2; text-align: center;background-position: center;background-size: cover;font-size: 30px;color:white; width:50%; margin-left: 28%">
		<div style='margin-top:20vh;margin-bottom: 20px; color:white; text-align: center'>
			<img src="{% static 'images/ramble2_transparent.png' %}" style="padding:10px">
			<div style="width: 100%; height: 20px; border-bottom: 1px solid black; text-align: center">
  				<span style="font-size: 40px; background-color: #00b7b2; padding: 0 10px;">
    				Coming Soon --> <!--Padding is optional-->
  				<!--</span>
			</div>
			<p> A one-stop shop for the writing community </p>
			<div style="width: 100%; height: 20px; border-bottom: 1px solid black; text-align: center">
			</div>
		</div>
		<div id='email_div'>
			<p> Be the first to preview it. </p>
			<input id='email_sub' type='email' placeholder="Your email" width="auto"  style="background-image: url({% static 'images/email.png' %}); background-color:rgba(50,50,50,0.75);
padding-left:0px;background-size:contain; background-repeat: no-repeat; background-position: right; font-size:inherit; text-align: center; color:white;padding:5px; vertical-align: bottom"/>
			<button onclick="submit_email()" style="padding:15px"> Subscribe </button>
		</div>
	</body> --> 
</html>