{% extends './base.html' %}
{% block content %}
{% load static %}

<div style="text-align:center">
  {% if twitter_login %}
    <p>Connected as <a href="https://twitter.com/{{ twitter_login.extra_data.access_token.screen_name }}/" target="_blank">@{{ twitter_login.extra_data.access_token.screen_name }}</a></p>
    <br><a href="logout"><button>Logout</button></a>

  {% else %}
<a href="{% url 'social:begin' 'twitter' %}">
  <Button class="iconbutton" style="padding:10px">
    <img src="{% static 'images/twitter.png' %}" width="16px" height="16px">
    &nbsp Login with Twitter
  </Button>
</a>
  {% endif %}
  </div>
{% endblock %}
