{% extends './base.html' %}
{% block content %}
    {% if post %}
        <div>
            <p class="post-title">
                <a href="../post/{{ post.pk }}">{{ post.post_title }}</a>
            </p>
            <p class="post-username">
                <a href="../u/{{ post.user_id.id }}">by {{ post.user_id.first_name }} {{ post.user_id.last_name }}</a>
            </p>
            <p class="post-timestamp">
                <a href="../post/{{ post.pk }}"> published: {{ post.post_timestamp }} </a>
            </p>
            <p class="post-format">{{ post.post_text|linebreaksbr }}</p>
        </div>
    {% else %}
        <p> 404 Post not found </p>
    {% endif %}
{% endblock %}

