{% extends './base.html' %}
{% block content %}

{% if profile_user %}
    <p>{{ profile_user.first_name }} {{ profile_user.last_name }} (@{{ profile_user.username}})</p>
{% else %}
    <p> 404 User Not Found</p>
{% endif %}

{% for post in posts %}
    <div>
        <p class="post-username">
            <a href="../u/{{ post.user_id.id }}">{{ post.user_id.first_name }} {{ post.user_id.last_name }}</a>
        </p>
        <p class="post-timestamp">
            <a href="../post/{{ post.pk }}"> published: {{ post.post_timestamp }} </a>
        </p>
        <p class="post-format">{{ post.post_text|linebreaksbr }}</p>
    </div>
{% endfor %}
{% endblock %}
